@font-face {
    font-family: "Josefin";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/font/Josefin/josefin-sans-v17-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("./assets/font/Josefin/josefin-sans-v17-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */
        url("./assets/font/Josefin/josefin-sans-v17-latin-regular.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("./assets/font/Josefin/josefin-sans-v17-latin-regular.woff")
        format("woff"),
      /* Modern Browsers */
        url("./assets/font/Josefin/josefin-sans-v17-latin-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("./assets/font/Josefin/josefin-sans-v17-latin-regular.svg#JosefinSans")
        format("svg"); /* Legacy iOS */
  }




* {
    font-family: Josefin;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

body {
    /* position: fixed; */
    width: 600px;
    height: 600px;
}

p {
    margin: 0;
}

span {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: left;
}

/* Classes */


.btn-light:hover, .btn-light:focus, .btn-light:active, .btn-light.active {
    /* color: #fff; */
    background-color: #faebc1;
    border-color: #faebc1; /*set the color you want here*/
}

.btn-contest:hover{
    background-color: #94d3ee;
}

.btn-outline-success:hover {
    color: white;
    background-color: #198754c5;
    border-color: #198754c5;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3546cc;
    border-color: #dc3546cc;
}

.btn:active,
.btn:focus,
.btn.active,
.btn:active:focus {
   background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.checks {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

.contest {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
}


.inactive {
    margin-left:-14rem;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contest-icon {
    margin-left: 16px;
    width: 2rem;
}

.right {
    display: flex;
    align-items: center;
}

.vertical-nav {
    min-width: 14rem;
    width: 14rem;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.8s;
    display: flex;
    flex-direction: column;
}

.whenBarActive {
    width: calc(100% - 14rem);
    margin-left: 14rem;
}

.whenBarInActive {
    width: 100%;
}

#load {
    margin: 20% auto;
    font-size: 2rem;
}

#load1 {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    font-size: 3rem;
}

#load2 {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    font-size: 2rem;
}

#load3 {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    font-size: 2rem;
}

#contests-list {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    overflow-y: scroll;
    margin-bottom: 24px;
}


#toggle {
    position: relative;
    width : 10rem;
    justify-self: left;
}


#top {
    display: flex;
    justify-content: space-between;
}

#top2 {
    display: flex;
    justify-content: space-between; 
}


#rest {
    display: flex;
    flex-direction: column;
    height: 600px;
    transition: all 0.8s;
    
}


/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}



/* Handle */
::-webkit-scrollbar-thumb {
  background: #008cca;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0272a1;
}

.contest-btn{
    margin-top: 4px;
}